# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.local
.env.*.local
manifest.json

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.cursor/

# OS files
.DS_Store
Thumbs.db 